<div class="main-footer">
    <div class="row">
        <div class="leftDiv" id="imageFotterDiv" >
            <img src="/themes/jtherczeg-grill/assets/imageDefault/logo.png" style="width: 100%;"  alt="" >

        </div>
        <div class="leftDiv" id="more-info" >
            <div class="more-info">
                <h4 class="footer-title">لمزيد من المعلومات</h4>
                <p>نحن هنا بخدمتكم </p>
                <ul>
                    <li><i class="fa fa-phone"></i>0702250403</li>
                    <li><i class="fa fa-globe"></i>Shaamsmaak,<br>Goeverneurlaan 655,<br>2523 Den Haag</li>
                    <li><i class="fa fa-envelope"></i><a href="mailto:info@shaamsmaak.nl">info@shaamsmaak.nl</a></li>
                </ul>
            </div>
        </div>
        <div class="leftDiv" id="followUs" >
            <div class="social-bottom">
                <span>تابعونا على صفحة الفيس بوك &nbsp;&nbsp;<a href="#" class="fa fa-facebook"></a></span>
            </div>
        </div>

    </div>
</div>
