<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>من نحن</h2>
                <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="containerHomePart">

                <div class="top-left "  id="firstPart">المذاق الشامي هو الافضل</div>
                <div class="top-left" id="secondPart">
                   حكي حكي حكي حكي </div>
                <img src="/themes/jtherczeg-grill/assets/imageDefault/TopHomePart.png" style="width: 100%;"  alt="" >
            </div>
        </div>
    </div>

    </div>
</div>
