<div id="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-account">
                    <a href="{{ 'home'|page }}">Home</a>
                    {% if user %}
                    <a href="{{ 'login'|page }}">My account</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="cart-info">
                    <!--<i class="fa fa-shopping-cart"></i>-->
                    {% if user %}

                    <a data-request="onLogout" data-request-data="redirect: '/'">Sign out</a>
                    {% else %}
                    <a href="{{ 'login'|page }}">Login</a>
                    {% endif %}




                    <!--(<a href="#">5 items</a>) in your cart (<a href="#">$45.80</a>)-->
                </div>
            </div>
        </div>
    </div>
</div>
