title = "Genres"
url = "/genres/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Restaurant\Meals\Models\Genre"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "genre_title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
  <center> <h2>{{ attribute(record, displayColumn) }}</h2> </center>

{% for meal in  record.meals  %}
    <a href="/genres/{{meal.slug}}">{{meal.name}}</a><br>
{% endfor %}
{% else %}
    {{ notFoundMessage }}
{% endif %}